.container{
    height:100vh;
    width:100%;
    background-color:black;

    display:flex;
    justify-content: center;
    align-items:center;
}

.box{
    height:200px;
    width:200px;
    background-color: red;
    position: relative;
    /* transform:rotate(225deg); */
    box-shadow: -2px 15px 100px rgb(77, 219, 96);
}

/* .box:before{

    content:'';
    position:absolute;
    height:100%;
    width:100%;
    background-color:red;
    left:50%;
    border-radius:50%;
}

.box:after{
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    background-color:red;
    top:50%;
    border-radius:50%;

} */





